		.mui-input-group .mui-input-row {
			height: 100%;
		}
		
		.mui-card .mui-table-view {
			margin-left: 10%;
		}
		
		.mui-table-view .mui-media-object {
			line-height: 90px !important;
			max-width: 90px !important;
			height: 90px !important;
		}
		
		.mui-input-row .mui-numbox {
			float: left;
			margin: 15px 0 0;
		}
		
		.mui-checkbox input[type=checkbox]:checked:before,
		.mui-radio input[type=radio]:checked:before {
			color: #FF4C55;
		}
		
		.mui-media-body>div:first-child {
			width: 40%;
			float: left;
			overflow: hidden;
		}
		
		.mui-media-body>div:last-child {
			width: 20%;
			margin-left: 45%;
			color: #ff4c55;
		}
		
		.total {
			width: 100%;
			position: fixed;
			bottom: 41px;
			right: 0;
			line-height: 50px;
			margin-right: 0;
			background: #FFFFFF;
			color: #ff4c55;
			margin: 10px 0;
		}
		
		.total label {
			float: right;
			color: #333333;
			line-height: 28px;
		}
		
		.total input[type="checkbox"] {
			top: 20%;
		}
		
		.total a {
			display: inline-block;
			width: 30%;
			height: 100%;
			background: #0bb1ad;
			text-align: center;
			color: #FFFFFF;
			float: right;
		}
		
		.mui-content>.mui-card:first-child {
			margin-top: 15px;
			margin-bottom: 130px;
		}
		
		.mui-radio.mui-left label,
		.mui-checkbox.mui-left label {
			padding-right: 15px;
			padding-left: 45px;
		}