<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/add.css"/>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/layer/layer.js"></script>
    <script>
        String.prototype.GetValue = function (para) {
            let reg = new RegExp("(^|&)" + para + "=([^&]*)(&|$)");
            let r = this.substr(this.indexOf("\?") + 1).match(reg);
            if (r != null) return decodeURI(r[2]);
            return null;
        }
        let url = document.location.toString();
        let userId = url.GetValue("userId");
        let pageNum = url.GetValue("pageNum");
        $(function () {
            loadDate();
            $("#reset").click(function () {
                loadDate()
            });
            $('#back').click(function () {
                window.location.href = "list.html?pageNum=" + pageNum;
            });
            $("#update").click(function () {
                var transport = {
                    tId: userId,
                    tNumber: $("input:eq(0)").val(),
                    company: $("input:eq(1)").val(),
                    pickName: $("input:eq(2)").val(),
                    pickPhone: $("input:eq(3)").val(),
                    pickLocation: $("input:eq(4)").val(),
                    tCost: $("input:eq(5)").val(),
                }
                $.ajax({
                    type: "POST",
                    url: "/transport/update",
                    data: transport,
                    dataType: "json",
                    success: function (data) {
                        if (data.code === 200) {
                            confirm("修改成功！");
                            window.location.href = "list.html?pageNum=" + pageNum;
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            })
        });

        function loadDate() {
            $.ajax({
                type: "GET",
                url: "/transport/" + userId,
                data: null,
                dataType: "json",
                success: function (data) {
                    $("input:eq(0)").val(data.obj.tnumber);
                    $("input:eq(1)").val(data.obj.company);
                    $("input:eq(2)").val(data.obj.pickName);
                    $("input:eq(3)").val(data.obj.pickPhone);
                    $("input:eq(4)").val(data.obj.pickLocation);
                    $("input:eq(5)").val(data.obj.tcost);
                }
            })
        }
    </script>
</head>
<body>
<div id="app">
    <div class="header">
        <span>修改寄件信息</span>
    </div>
    <div class="content">
        <table>
            <tr>
                <td class="text-right">快递单号</td>
                <td class="content_right"><input class="input" placeholder="请输入快递单号"></td>
            </tr>
            <tr>
                <td class="text-right">快递公司</td>
                <td class="content_right"><input class="input" placeholder="请输入快递公司"></td>
            </tr>
            <tr>
                <td class="text-right">收货人姓名</td>
                <td class="content_right"><input class="input" placeholder="请输入姓名"></td>
            </tr>
            <tr>
                <td class="text-right">收货号码</td>
                <td class="content_right"><input class="input" placeholder="请输入手机号码"></td>
            </tr>
            <tr>
                <td class="text-right">收货地址</td>
                <td class="content_right"><input class="input" placeholder="收货地址"></td>
            </tr>
            <tr>
                <td class="text-right">运费</td>
                <td class="content_right"><input class="input" placeholder="运费"></td>
            </tr>

            <tr>
                <td></td>
                <td class="content_right"><span class="btn btn-info" id="update">立即修改</span> <span class="btn"
                                                                                                   id="reset">重置</span>
                    <span class="btn"
                          id="back">返回</span>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>

</html>
